@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    background-color: #ff69b4; /* Merah muda */
    background-image: linear-gradient(to right, rgba(138, 43, 226, 0.5), rgba(255, 105, 180, 0.5)); /* Ungu ke merah muda */
}

.lists li::marker {
    color: #9b30ff;
}